/* Toàn bộ trang */
body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #1e1e2f;
  color: #f0f0f5;
}

button {
  touch-action: manipulation;
}

header .navbar {
  background-color: #141428;
  border-bottom: 2px solid #6666c2;
}

header .navbar-brand {
  color: #6666c2 !important;
  font-weight: bold;
}

header .nav-link {
  color: #141428 !important;
}

header .nav-link:hover {
  color: #6666c2 !important;
}

.container-fluid {
  padding: 0 25px;
}

.modal-footer .d-flex {
  gap: 1px;
}

.modal-footer .d-flex span {
  color: red;
}

.modal-footer .d-flex p {
  margin: 0;
}

#introduce {
  position: relative;
  margin-top: 20px;
  padding: 20px;
}

#introduce :not(img) {
  position: relative;
  z-index: 1;
}

#introduce h4 {
  color: #6666c2;
}

#introduce p {
  font-weight: bolder;
}

#introduce img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  opacity: 0.5;
  z-index: 0;
  transition: transform 0.8s;
}

#introduce:hover > img {
  transform: scale(1.02);
}

/* Giới thiệu */
#introduce h4,
#hotproducts h4,
#products h4,
#about h4 {
  color: #6666c2;
  text-transform: uppercase;
  border-bottom: 2px solid #6666c2;
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 0.8rem;
}

#products h4 {
  margin-top: 0;
  margin-bottom: 1.2rem;
}

#products form {
  position: relative;
}

#products form label {
  position: absolute;
  top: 16%;
  left: 1%;
  padding: 0 5px;
  border-radius: 5px 5px 0 0;
  color: #000;
  background-color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

#searchInput:focus + label,
#searchInput.has-value + label {
  outline: none;
  transform: translateY(-20px);
}

#searchCount {
  position: absolute;
  top: 16%;
  right: 5%;
  padding: 0 5px;
  background-color: #6666c2;
  border-radius: 5px;
}

/* Carousel */
#hotproducts .carousel-inner img {
  aspect-ratio: 4 / 3;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(94, 94, 191, 0.7);
}

/* Card có chiều cao cố định */
.product-container .card {
  height: 450px; /* Chiều cao cố định */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Đảm bảo nội dung card được căn chỉnh */
  background-color: #2a2a40;
  border: 1px solid #3d3d5c;
  border-radius: 10px;
  overflow: hidden; /* Đảm bảo không có nội dung vượt ra ngoài */
}

.product-container .card .product-img {
  aspect-ratio: 4 / 3;
  min-height: 13rem;
  max-height: 13rem;
  width: 100%;
  border-bottom: 1px solid #3d3d5c;
  overflow: hidden;
}

.product-container .card .product-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Nội dung card */
.product-container .card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Giới hạn tiêu đề chỉ hiển thị 1 dòng */
.product-container .card-title,
.hotproducts-text h6 {
  color: #6666c2;
  font-size: 1.2rem; /* Kích thước font cho tiêu đề */
  white-space: nowrap; /* Không xuống dòng */
  overflow: hidden; /* Ẩn nội dung thừa */
  text-overflow: ellipsis; /* Hiển thị dấu ba chấm */
  margin-bottom: 0.5rem;
}

/* Giới hạn nội dung card-text thành 2 dòng */
.product-container .card-text,
.hotproducts-text p,
.price-text,
#listProducts span {
  font-size: 1rem; /* Kích thước font cho nội dung */
  display: -webkit-box; /* Sử dụng flexbox để hỗ trợ line-clamp */
  -webkit-line-clamp: 2; /* Giới hạn 2 dòng */
  -webkit-box-orient: vertical; /* Định hướng theo chiều dọc */
  overflow: hidden; /* Ẩn nội dung thừa */
  text-overflow: ellipsis; /* Hiển thị dấu ba chấm */
}

.hotproducts-text p {
  -webkit-line-clamp: 3; /* Giới hạn 2 dòng */
}

.price-text {
  -webkit-line-clamp: 1;
}

.product-container .btn-primary {
  background-color: #6666c2;
  border: none;
}

.product-container .btn-primary:hover {
  background-color: #3d3d5c;
}

/* Footer */
#about {
  text-align: center;
  margin-top: 3rem;
  padding: 2rem 0;
  background-color: #141428;
  border-top: 2px solid #6666c2;
}

#about p {
  color: #b3b3d4;
}

/* Hiệu ứng hover */
a {
  transition: color 0.3s ease;
}

.card:hover {
  transform: translateY(-7px);
  transition: transform 0.3s ease;
}

#scrollTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d2d2d2;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 100;
}

#scrollTopBtn:active {
  background-color: #6666c2;
}

.shopping-cart-image {
  position: fixed;
  top: 5%;
  right: 10%;
  height: 160px;
  border-radius: 5px;
  animation: movetocart 1.2s forwards;
}

@keyframes movetocart {
  0% {
    transform: translateX(0);
  }
  95% {
    transform: translateX(60%);
  }
  100% {
    opacity: 0;
  }
}

.shopping-cart {
  position: fixed;
  top: 8%;
  right: 2%;
  animation: none;
  background-color: #6666c2;
  border: none;
  z-index: 10;
}

.shopping-cart:hover {
  background-color: #3d3d5c;
}

.shopping-cart.add-product {
  animation: addproduct 1s forwards;
}

@keyframes addproduct {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
/* offcanvas */
.offcanvas-header {
  background-color: #141428;
  color: #f0f0f5;
}

.offcanvas-body {
  background-color: #1e1e2f;
  color: #b3b3d4;
}

.btn-close {
  color: #fff;
}

.cart-item img {
  box-shadow: 0px 4px 15px rgba(94, 94, 191, 0.7);
}

.btn-success {
  background-color: #5e5ebf;
  border: none;
}

.btn-success:hover {
  background-color: #3d3d5c;
}

#productModal {
  box-shadow: 0px 4px 15px rgba(94, 94, 191, 0.7);
}

.modal-content {
  background-color: #141428;
  color: #fff; /* Màu chữ trắng */
}

/* Thay đổi màu nền phần header */
.modal-header {
  background-color: #141428; /* Màu nền tối hơn */
  border-bottom: 1px solid #555; /* Viền */
}

/* Thay đổi màu nền phần footer */
.modal-footer {
  background-color: #141428; /* Màu nền tối hơn */
  border-top: 1px solid #555; /* Viền */
}

#productDetails img {
  height: 50vh;
  object-fit: contain; /* Đảm bảo ảnh vừa khít mà không biến dạng */
}

#productDetails h5 {
  color: #6666c2;
}

#listProducts span {
  -webkit-line-clamp: 1;
  padding: 5px;
  border-radius: 4px;
  color: #fff;
  background-color: #6666c2;
}

.example-request {
  padding: 10px;
  border-bottom: 1px solid #aaa;
  border-top: 1px solid #aaa;
}
